.checkout-prod{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;

    /* margin-left: 20px; */
    border-bottom: 1px solid lightgrey;
}

.checkout-prod-info{
    margin-left: 10px;
    /* margin-top:40px; */
}

.checkout-prod-img{
    object-fit: contain;
    width: 100%;
    height: 180px;
}

.checkout-prod-title{
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.checkout-prod-info > button{
    background-color: #c5c51a;
    border: 1px solid;
    margin-top: 10px;
    padding: 4px;
    border-radius: 4px;
    border-color: #6e6e0b;
    color: black;
}