.foot-cont{
    background-color: #232f3e;
}
.footer{
    padding-top: 50px;
    padding-bottom: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

h3{
    color: rgb(230, 227, 227);
    margin-bottom: 10px;
}

li{
    list-style: none;
    color: rgb(173, 172, 172);
    margin-bottom: 5px;
}

li:hover{
    text-decoration: underline;
}

.footer-logo{
    margin-top: 30px;
    margin-bottom: 30px;
    object-fit: contain;
    height: 50px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}