.sub-total{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 125px;
    padding: 20px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
}

.gift{
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.gift > input{
    margin-right: 10px;
}

.btn-checkout{
    background-color: rgb(245, 238, 28);
    border-radius: 3px;
    width: 100%;
    height: 30px;
    border-radius: 1px solid;
    border-color: #787009;
    color: #111;
}